body {
  margin: 0;
  font-family: sans-serif;
}
h1 {
  /* background-color: aquamarine; */
  padding: 15px;
}
.add-button {
  background-color: rgb(128, 154, 240);
  font-size: 25px;
  margin: auto;
}
.button-container {
  /* display: flex; */
  padding: 15px 30px;
}
.button {
  background-color: whitesmoke;
  display: flex;
}

.left-button {
  background-color: green;
  text-align: center;
  padding: 10px 30px;
  margin: 15px 20px;
}
.right-button {
  background-color: green;
  text-align: center;
  padding: 10px 30px;
  margin: 15px 20px;
}
